<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.via.shinvia.futuresim.mapper.AppConfigMapper">

    <select id="findValueByKey" resultType="string">
        SELECT config_value
        FROM app_config
        WHERE config_key = #{configKey}
    </select>

</mapper>
